{% extends 'base.html' %}
{% block background-color %}#63899c{% endblock background-color %}
{% block content %}
    <div class="row home-bg-color-1" >
        <div class="col text-center align-self-center">
            <div class="star star-color-1">VINSÆLUSTU <br/> <small> vörurnar</small></div>
        </div>
        {% for product in most_popular_products %}
        <div class="col">
            {% include 'product/product.html' %}
        </div>
        {% endfor %}
   </div>
    <div class="row home-bg-color-2 pt-2 pb-2">
        <div class="col align-self-center">
            <div class="star star-color-2"> VAR AÐ KOMA <br/> <small> til okkar</small></div>
        </div>
        {% for product in newest_products %}
        <div class="col">
            {% include 'product/product.html' %}
        </div>
        {% endfor %}
    </div>
    <div class="loader-wrapper-2">
        <div class="loader-wrapper">
          <span class="loader"><span class="loader-inner"></span></span>
        </div>
    </div>

{% endblock content %}


