<footer>
    <div class="container-fluid p-5">
  <div class="row">
    <div class="col-4">
        <span class="footer-title">Captain Console</span>
        <p>Aðalgata 99 <br>
        991 Aðalvík</p>
        <p>Netfang: <a class="text-info" href="mailto:captainconsole@captainconsole.com">captainconsole@captainconsole.com</a></p>
        <p>Sími: <a class="text-info" href="tel:+3545553333">555 3333</a></p></div>
      <div class="col-4">(place for another colom)</div>
      <div class="col-4">(place for another colom)</div>
  </div>

</div>


</footer>
