<header>
    <div class="container-fluid">
        <div class="row header-nav pt-2 pb-2">
            <div class="col-1 col-sm-2 col-lg-4"></div>
            <div class="col-8 col-sm-5 col-lg-4">
                <input id="search-box" class="form-control pl-3" type="search" placeholder="Leit að vöru...">
                <img id="search-btn" class="search-icon" type="submit" src="/static/nav_img/magnifying_glass_2.svg">
            </div>
             <div class="col-3 col-sm-1 text-right mt-1" >
                    <a class="shopping-cart-btn" href="/cart"></a>
             </div>
            <div class="col-9 col-sm-4 col-lg-3 text-right">


                {% if user.is_authenticated %}

                        <div class="dropdown">
                          <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">


                         <svg class="bi bi-person-fill" width="1.25em" height="1.25em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"/>
                         </svg>
                         {% if user.first_name or user.last_name%}
                            {{ user.first_name }}  {{ user.last_name }}
                             {% else %}
                             {{ user.username }}
                         {% endif %}   </button>

                         <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                             <span class="dropdown-item-text user-dropdown"><strong> {{ user.username }}</strong> </span>
                             <span class="dropdown-item-text user-dropdown"><small> {{ user.first_name }} {{ user.last_name }}</small></span>
                             <span class="dropdown-item-text user-dropdown"><small> {{ user.email }}</small></span>
                             <div class="dropdown-divider mb-2"></div>


                            <a class="dropdown-item" href={% url 'profile' %}>Breyta skráningu</a>
                            <a class="dropdown-item" href={% url 'logout' %}>Útskrá</a>

  </div>

                        </div>

          {% else %}

                <a class="btn btn-sm font-weight-bold" href="/user/login" role="button">Innskrá</a>
                <a class="btn btn-sm font-weight-bold" href="/user/signup" role="button">Stofna Aðgang</a>
          {% endif %}
            </div>
        </div>

        <div class="row pt-3 nav-icons-color">
          <div class="col-2 col-xl-4">
              <a href="{% url 'home' %}">
                <img class="logo-img" src="/static/nav_img/captainconsole.svg">
              </a>
          </div>
            <div class="col-2 col-xl-1 text-body text-center font-weight-bold smaller-font">
                <div class="text-dark nav-btn" role="button" onclick="navigationClick('Nintendo')">
                    <img class ="nav-img" src="/static/nav_img/navicon_nintendo.svg">
                    <p>Nintendo</p>
                </div>
            </div>
            <div class="col-2 col-xl-1 text-body text-center font-weight-bold smaller-font">
                <div class="text-dark nav-btn" role="button" onclick="navigationClick('Sony')">
                    <img class ="nav-img" src="/static/nav_img/navicon_sony.svg">
                    <p>Sony</p>
                </div>
            </div>
            <div class="col-2 col-xl-1 text-body text-center font-weight-bold smaller-font">
                <div class="text-dark nav-btn" role="button" onclick="navigationClick('Sega')">
                    <img class ="nav-img" src="/static/nav_img/navicon_sega.svg">
                    <p>Sega</p>
                </div>
            </div>
            <div class="col-2 col-xl-1 text-body text-center font-weight-bold smaller-font">
                <div class="text-dark nav-btn" role="button" onclick="navigationClick('Microsoft')">
                    <img class ="nav-img" src="/static/nav_img/navicon_microsoft.svg">
                    <p>Microsoft</p>
                </div>
            </div>
            <div class="col-2 col-xl-1 ext-body text-center font-weight-bold smaller-font">
                <div class="text-dark nav-btn" role="button" onclick="navigationClick('Annað')">
                    <img class ="nav-img" src="/static/nav_img/navicon_other.svg">
                    <p>Annað</p>
                </div>
            </div>
    </div>
  </div>
</header>