<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <nav class="navbar navbar-expand-lg">
                <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control-sm mr-sm-2 search-icon" type="search" placeholder="Leit að vöru..." aria-label="Search">
                        <button class="btn btn-default my-2 my-sm-0 btn-sm" type="submit">Leit</button>
                    </form>
                </div>
                </nav>
            </div>
             <div class="col-1">
                 <nav class="navbar navbar-expand-lg">
                 <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                     <input type="image" class="shopping-cart-img" src="../static/nav_img/shopping_cart_img.jpg" alt="Submit">
                 </div>
                 </nav>
             </div>
            <div class="col-3">
                <nav class="navbar navbar-expand-lg">
                    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                        <button class="btn btn-default btn-sm" type="submit">Innskrá</button>
                     <button class="btn btn-default btn-sm" type="submit">Stofna Aðgang</button>
                    </div>
                 </nav>
            </div>
        </div>
    </div>

</header>
