{% extends "base.html" %}
{% block content %}

        <div class="row justify-content-sm-center mt-4">

            <div class="col-sm-10 col-md-8 col-lg-8 col-xl-6 user-tab-overborder">
                <div class="container-fluid">
                    <div class="row mb-4">
                        <a class="col-6 user-tab-nav user-tab-link" href="/user/login">Innskrá</a>
                        <div class="col-6 user-tab-nav user-tab-active" >Stofna aðgang</div>
                     </div>

                 {% include 'user/signup_compo.html' %}
                 </div>
            </div>

        </div>



{% endblock %}