
<form method="post">
  {% csrf_token %}
    {% for field in form %}
    <div class="form-group row p-0 m-0">
        <label class="col-2 col-form-label text-right"><small> {{ field.label_tag }}</small></label>
        <div class="col-9">
            {{ field }}
        </div>
        <div class="col-1"> </div>
    </div>
    {% endfor %}
    <div class="form-group row p-0 m-0">
    <div class="col-2"> </div>
    <div class="col-9 text-danger">

            {% for error in form.password2.errors %}
               <div class="alert alert-danger" role="alert"> {{ error }}</div>
          {% endfor %}

        {#    á í vandrædum med ad lata ekki required error byrtast#}

        {#        {% if form.errors %}#}
{#                <p>username or password not correct</p>#}
{#                {% endif %}#}


    </div>
  </div>


  <div class="form-group row row p-0 m-0">
{#      buttons line       #}
    <div class="col-2"> </div>
    <div class="col-4">
        <button type="submit" class="btn btn-success btn-lg btn-block">Nýskrá</button>
    </div>
      <div class="col-4">
        <button type="reset" class="btn btn-secondary btn-lg btn-block">Hætta við</button>
    </div>
    <div class="col-2"> </div>
  </div>
</form>
