{% extends 'base.html' %}
{% block background-color %}#63899c{% endblock background-color %}
{% block content %}
    <div class="row">
        <div class="col viewed-title">
            Vörur sem þú hefur skoðað nýlega
        </div>
    </div>
    <div class="row">
        {% for product in products %}
            {% if forloop.counter <= 4 %}
                <div class="col p-3 d-flex justify-content-center">
                    {%  include 'product/product.html' %}
                 </div>
            {% endif %}
        {% empty %}
            <div class="col-3 p-4 mt-4 text-center">
                <h4>Þú hefur ekki skoðað neinar vörur</h4>
                <br>
                <h4>Smelltu hér til að skoða úrvalið hjá okkur</h4>
                <br>
                <a href="{% url 'products' %}">
                    <button class="btn btn-warning">Vörur</button>
                </a>
             </div>
        {% endfor %}
    </div>
        <div class="row">
        {% for product in products %}
            {% if forloop.counter > 4 and forloop.counter <= 8 %}
                <div class="col-3 p-3 d-flex justify-content-center">
                    {%  include 'product/product.html' %}
                 </div>
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}
