html{
    /* Footer configuration */
    height: 100%;
}
header{
    color:white;
    background-color: #C2AF37;
    margin-top: 0px;
}

.search-wrapper{
    position: relative;
}

.search-icon{
    position: absolute;
    top: 10px;
    right: 35px;
    height: 18px;
    width: auto;
}

.shopping-cart-img{
    background-color: #C2AF37;
    height:28px;
    width:auto;

}

.logo-img{
    position: absolute;
    width: auto;
    height: 142px;
    overflow: auto;
    top: -60px;
    right: 35px;
}

.nav-img{
    height: 55px;
    width: auto;
}

.nav-btn{
    cursor: pointer;
}

.nav-btn:hover{
    text-decoration: underline;
}

.nav-icons-color{
    background-color: rgb(245, 239, 191);
}

.smaller-font{
    font-size: 0.8rem;
}

.filter-block{
    margin-left: 1rem;
    margin-top: 1rem;
}

.filter-block a{
    cursor: pointer;
}
.filter-block a:hover{
    text-decoration: underline;
}

.child-filter{
    padding-left: 1.4rem;
    display: none;
    margin:0;
}

ul{
    list-style-type: none;
}

.symbol{
    cursor: pointer;
    display: inline;
}

body{
    /* Footer configuration */
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.products-box{
    margin: 0.5rem;
    width: 20rem;
    height: 20rem;
    border-radius: 0.3rem;
    padding: 0.6rem;
    background: #37b8c2;
    color: #26343b;
}

.products-img-frame{
    width: auto;
    min-width: 16rem;
    height: 10rem;
    text-align: center;
    border: #63899c solid 0.2rem;
    background: #FFF;
}
.products-name{
    font-size: 1.2rem;
    font-weight: 600;
}

.products-type{
    padding-top: 0.3rem ;
    font-size: 0.8rem;
    font-weight: 400;

}

.products-price{
    font-size: 1rem;
    font-weight: 400;
    text-align: right;


}



.products-div{
    background-color: #37b8c2;
}

.product-img{
    height: auto;
    max-height: 80%;
    width: auto;
    max-width: 80%;
    margin: 1rem;

}

.product-descr-div{
    width: 165px;
}

.home-bg-color-1{
    background-color: #63899c;
}

.home-bg-color-2{
    background-color: #bf6979;
}


.star {
    width: 100%;
    height: 18rem;
    color: #FFF;
    text-align: center;
    font-weight: 600;
    line-height: 0.8rem;
    padding-top: 8rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='437.5px' height='427.5px'%3E%3Cpath fill-rule='evenodd' stroke='rgb(255, 255, 255)' stroke-width='7px' stroke-linecap='butt' stroke-linejoin='miter' fill='rgb(0, 0, 0)' d='M396.758,324.923 L307.225,309.010 L314.860,397.574 L245.469,340.072 L206.739,420.500 L176.084,336.817 L101.367,387.557 L117.661,300.115 L26.978,307.572 L85.855,239.802 L3.504,201.977 L89.189,172.037 L37.235,99.067 L126.769,114.980 L119.134,26.415 L188.525,83.917 L227.254,3.490 L257.910,87.173 L332.627,36.433 L316.333,123.875 L407.016,116.418 L348.138,184.188 L430.490,222.013 L344.805,251.952 L396.758,324.923 Z'/%3E%3C/svg%3E");
}
.star-color-1{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='437.5px' height='427.5px'%3E%3Cpath fill-rule='evenodd' stroke='rgb(255, 255, 255)' stroke-width='7px' stroke-linecap='butt' stroke-linejoin='miter' fill='rgb(191, 105, 121)' d='M396.758,324.923 L307.225,309.010 L314.860,397.574 L245.469,340.072 L206.739,420.500 L176.084,336.817 L101.367,387.557 L117.661,300.115 L26.978,307.572 L85.855,239.802 L3.504,201.977 L89.189,172.037 L37.235,99.067 L126.769,114.980 L119.134,26.415 L188.525,83.917 L227.254,3.490 L257.910,87.173 L332.627,36.433 L316.333,123.875 L407.016,116.418 L348.138,184.188 L430.490,222.013 L344.805,251.952 L396.758,324.923 Z'/%3E%3C/svg%3E");
}
.star-color-2{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='437.5px' height='427.5px'%3E%3Cpath fill-rule='evenodd' stroke='rgb(255, 255, 255)' stroke-width='7px' stroke-linecap='butt' stroke-linejoin='miter' fill='rgb(98, 137, 156)' d='M396.758,324.923 L307.225,309.010 L314.860,397.574 L245.469,340.072 L206.739,420.500 L176.084,336.817 L101.367,387.557 L117.661,300.115 L26.978,307.572 L85.855,239.802 L3.504,201.977 L89.189,172.037 L37.235,99.067 L126.769,114.980 L119.134,26.415 L188.525,83.917 L227.254,3.490 L257.910,87.173 L332.627,36.433 L316.333,123.875 L407.016,116.418 L348.138,184.188 L430.490,222.013 L344.805,251.952 L396.758,324.923 Z'/%3E%3C/svg%3E");
}



#pointer {
  width: 220px;
  height: 120px;
  position: relative;
  background: #c0697a;
}
#pointer:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 60px solid #63899c;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
}
#pointer:before {
  content: "";
  position: absolute;
  right: -60px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 60px solid #c0697a;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
}

footer{
    color:white;
    background-color: #05021F;
    margin-top: auto;
}
.footer-title{
   font-size:1.25rem;
   font-weight: 700;

}

.user-tab-nav{
    font-size:0.75rem;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;

}

.user-tab-overborder{
    border: thick solid #C2AF37;
    padding: 0 0 3rem 0;

}
.user-tab-active{
    color: #C2AF37;
    font-weight: 700;
}
.user-tab-link{
    color: #62899C;
    font-weight: 400;
    border: thin solid #C2AF37;
}



