html{
    /* Footer configuration */
    height: 100%;
}

.header-nav{
    margin-top: 0;
    background-color: #C2AF37;
}


.search-wrapper{
    position: relative;
}

.search-icon{
    position: absolute;
    top: 10px;
    right: 35px;
    height: 18px;
    width: auto;
}

.shopping-cart-img{
    height:1.8rem;
    width:auto;

}

.shopping-cart-btn{
    display: inline-block;
    width: 6rem;
    height: 6rem;
    color: #000;
    font-weight: 600;
    font-size: 1.2rem;
    text-align: center;
    padding-top: 0.9rem;

    background-image: url("/static/nav_img/shopping_bach.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 0.5rem;
    top: -0.8rem;
}
.shopping-cart-btn:hover{
    text-decoration: none;
    font-weight: 700;
    top: -1rem;
    color: #6d2821;
}

.logo-img{
    position: absolute;
    top: -4rem;
    text-align: left;
    width: auto;
    height: auto;
    max-height: 9rem;
    min-height: 6rem;
    max-width: 9rem;
    min-width: 6rem;
}

.nav-img{
    height: 4rem;
    width: auto;
}

.nav-btn{
    cursor: pointer;
}

.nav-btn:hover{
    text-decoration: underline;

}

.nav-icons-color{
    background-color: rgb(245, 239, 191);
}

.smaller-font{
    font-size: 0.8rem;
}


ul{
    list-style-type: none;
}



body{
    /* Footer configuration */
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.home-bg-color-2{
    background-color: #bf6979;
}

.star {
    width: 100%;
    height: 18rem;
    color: #FFF;
    text-align: center;
    font-weight: 600;
    line-height: 0.8rem;
    padding-top: 8rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='437.5px' height='427.5px'%3E%3Cpath fill-rule='evenodd' stroke='rgb(255, 255, 255)' stroke-width='7px' stroke-linecap='butt' stroke-linejoin='miter' fill='rgb(0, 0, 0)' d='M396.758,324.923 L307.225,309.010 L314.860,397.574 L245.469,340.072 L206.739,420.500 L176.084,336.817 L101.367,387.557 L117.661,300.115 L26.978,307.572 L85.855,239.802 L3.504,201.977 L89.189,172.037 L37.235,99.067 L126.769,114.980 L119.134,26.415 L188.525,83.917 L227.254,3.490 L257.910,87.173 L332.627,36.433 L316.333,123.875 L407.016,116.418 L348.138,184.188 L430.490,222.013 L344.805,251.952 L396.758,324.923 Z'/%3E%3C/svg%3E");
}
.star-color-1{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='437.5px' height='427.5px'%3E%3Cpath fill-rule='evenodd' stroke='rgb(255, 255, 255)' stroke-width='7px' stroke-linecap='butt' stroke-linejoin='miter' fill='rgb(191, 105, 121)' d='M396.758,324.923 L307.225,309.010 L314.860,397.574 L245.469,340.072 L206.739,420.500 L176.084,336.817 L101.367,387.557 L117.661,300.115 L26.978,307.572 L85.855,239.802 L3.504,201.977 L89.189,172.037 L37.235,99.067 L126.769,114.980 L119.134,26.415 L188.525,83.917 L227.254,3.490 L257.910,87.173 L332.627,36.433 L316.333,123.875 L407.016,116.418 L348.138,184.188 L430.490,222.013 L344.805,251.952 L396.758,324.923 Z'/%3E%3C/svg%3E");
}
.star-color-2{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='437.5px' height='427.5px'%3E%3Cpath fill-rule='evenodd' stroke='rgb(255, 255, 255)' stroke-width='7px' stroke-linecap='butt' stroke-linejoin='miter' fill='rgb(98, 137, 156)' d='M396.758,324.923 L307.225,309.010 L314.860,397.574 L245.469,340.072 L206.739,420.500 L176.084,336.817 L101.367,387.557 L117.661,300.115 L26.978,307.572 L85.855,239.802 L3.504,201.977 L89.189,172.037 L37.235,99.067 L126.769,114.980 L119.134,26.415 L188.525,83.917 L227.254,3.490 L257.910,87.173 L332.627,36.433 L316.333,123.875 L407.016,116.418 L348.138,184.188 L430.490,222.013 L344.805,251.952 L396.758,324.923 Z'/%3E%3C/svg%3E");
}

.loader-wrapper-2{
    display: none;
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: none;
  display:flex;
  justify-content: center;
  align-items: center;
}
.loader {
  display: inline-block;
  width: 40px;
  height: 40px;
  position: relative;
  border: 4px solid #c2af37;
  animation: loader 2s infinite ease;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #c2af37;
  animation: loader-inner 2s infinite ease-in;
}
@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}
@keyframes loader-inner {
  0% { height: 0%;}
  25% { height: 0%;}
  50% { height: 100%;}
  75% { height: 100%;}
  100% { height: 0%;}
}

.product-img-white-frame{
    border: 100px solid white;
    background-color: white;
}

footer{
    color:white;
    background-color: #05021F;
    margin-top: auto;
}
.footer-title{
   font-size:1.25rem;
   font-weight: 700;

}

.user-tab-nav{
    font-size:0.75rem;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;

}

.user-tab-overborder{
    border: thick solid #C2AF37;
    padding: 0 0 3rem 0;

}
.user-tab-active{
    color: #C2AF37;
    font-weight: 700;
}
.user-tab-link{
    color: #62899C;
    font-weight: 400;
    border: thin solid #C2AF37;
}

.user-dropdown{
    min-width: 16rem;
    color: #C2AF37;
    line-height: 0.6rem;
}

.user-profile-image{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    margin-right: 0.5rem;
}




/* Code to remove the 'X' from the search bar */
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }