html{
    /* Footer configuration */
    height: 100%;
}

body{

    
    /* Footer configuration */
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

footer{
    color:white;
    background-color: #05021F;
    margin-top: auto;
}
.footer-title{
   font-size:1.25rem;
   font-weight: 700;
}