.filter-block{
    margin: 0.5rem;
    color: #26343b;
 }

.filter-level1{
    color: #FFF;
    background: #537585;
    padding-left: 0.5rem;
    margin-bottom: 0.2rem;
}

.filter-btn{
    /*this name is use is javascript for idendication*/
    display: inline-block;
    padding: 0.5rem;
    width: 78%;
    /*white-space: nowrap;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
}

.filter-block a{
    cursor: pointer;
}
.filter-block a:hover{
    text-decoration: underline;
}

.child-filter{
    padding: 0 0.2rem 0.1rem 1.4rem;
    display: none;
}

.child-filter li{
    background: #3e5763;
    margin-bottom: 0.2rem;

}
.child-filter li:nth-child(even){
    background: #8099a5;
    margin-bottom: 0.2rem;
}

.filter-level2{
    padding-left: 1.5rem
}

.symbol{
    /*this name is use is javascript for idendication*/
    cursor: pointer;
    display: inline;

    color: #FFF;
    font-weight: 700;
    border: 0.1rem solid #3e5763;
    border-radius: 0.2rem;
    padding: 0rem 0.3rem 0.2rem 0.3rem;
    text-align: center;
}

.product-order-bar{

    background: #26343b;
    font-size: 0.8rem;
    color: #ccc;
    text-align: right;
    padding: 0.5rem 2rem 0.5rem 0.5rem;
}

.product-order-bar-link {
    padding: 0 1rem 0 1rem;

}

.product-order-bar a {
     color: #FFF;
}

.product-order-bar-active{
 font-weight: 700;
    padding: 0 0.2rem 0 0.9rem;
}

.products-box{
    margin: 0.5rem;
    width: 20rem;
    height: 20rem;
    border-radius: 0.3rem;
    padding: 0.6rem;
    background: #37b8c2;
    color: #26343b;
}

.products-img-frame{
    width: auto;
    min-width: 16rem;
    height: 10rem;
    text-align: center;
    border: #63899c solid 0.2rem;
    background: #FFF;
}
.products-name{
    font-size: 1.2rem;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.products-type{
    padding-top: 0.3rem ;
    font-size: 0.8rem;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.products-price{
    font-size: 1rem;
    font-weight: 400;
    text-align: right;

}

.products-div{
    background-color: #37b8c2;
}

.product-img{
    height: auto;
    max-height: 80%;
    width: auto;
    max-width: 80%;
    margin: 1rem;

}

/*.product-descr-div{*/
/*    width: 165px;*/
/*}*/


.product-detail-name{
    font-size: 1.8rem;
    font-weight: 600;
    color: #26343b;
}

.product-detail-type{
    font-size: 0.7rem;
    font-weight: 400;
    color: #fff;
    letter-spacing: 0.1rem;
}

.product-detail-description{
    margin-top: 4rem;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.6rem;
    color: #26343b;
}

.products-detail-price{
    font-size: 1.2em;
    color: #26343b;

}


.bottom-row-positon{
    position: absolute;
    top: 90%;

}

.spacer-for-brp{
    height: 5rem;
}

.slash-space{

    letter-spacing: 0.4rem;
}

.products-detail-img-frame{
    border: #63899c solid 0.2rem;

}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2363899c' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2363899c' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
