{% extends "base.html" %}
{% block background-color %}#63899c{% endblock background-color  %}
{% block content %}
    <div class="row">
        <div class="col-2">

        <div class="filter-block">
            <div>
                <p class="symbol text-white border rounded">+</p>
                <a href="#microsoft" class="text-white">Microsoft</a>
                <ul class="child-filter">
                {% for system in systems %}
                    {% if system.manufacturer.name == 'Microsoft' %}
                    <li><a href="#{{ system.name }}" class="text-white">{{ system.name }}</a></li>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>

            <div>
                <p class="symbol text-white border rounded">+</p>
                <a href="#nintendo" class="text-white">Nintendo</a>
                <ul class="child-filter">
                {% for system in systems %}
                    {% if system.manufacturer.name == 'Nintendo' %}
                    <li><a href="#{{ system.name }}" class="text-white">{{ system.name }}</a></li>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>

            <div>
                <p class="symbol text-white border rounded">+</p>
                <a href="#sega" class="text-white">Sega</a>
                <ul id="sega-filter" class="child-filter">
                {% for system in systems %}
                    {% if system.manufacturer.name == 'Sega' %}
                    <li><a href="#{{ system.name }}" class="text-white">{{ system.name }}</a></li>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>

            <div>
                <p class="symbol text-white border rounded">+</p>
                <a href="#sony" class="text-white">Sony</a>
                <ul class="child-filter">
                {% for system in systems %}
                    {% if system.manufacturer.name == 'Sony' %}
                    <li><a href="#{{ system.name }}" class="text-white">{{ system.name }}</a></li>
                {% endif %}
                {% endfor %}
                </ul>
            </div>

            <div>
                <p class="symbol text-white border rounded">+</p>
                <a href="#annad" class="text-white">Annað</a>
                <ul class="child-filter">
                {% for system in systems %}
                    {% if system.manufacturer.name == 'Annað' %}
                    <li><a href="#{{ system.name }}" class="text-white">{{ system.name }}</a></li>
                {% endif %}
                {% endfor %}
                </ul>
            </div>

        </div>

        <div class="filter-block">
            <ul style="padding-left: 1rem">
            {% for type in types %}
                <li><a href="#" class="text-white">{{ type }}</a></li>
            {% endfor %}
            </ul>
        </div>

    </div>

        <div class="col-10">
            <div id="products" class="row">
            {% for product in products %}
                {% include 'product/product.html' %}
            {% endfor %}
            </div>
        </div>


    </div>

{% endblock content %}