{% load humanize %}
<div class="products-box">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 p-0">
                <div class="products-img-frame"><img class="product-img" src="{% if product.first_image %}{{ product.first_image }}{% elif product.productimage_set.first %}{{ product.productimage_set.first }}{% else %}/media/images/default-image.svg{% endif %}" alt="{{ product.name }}"></div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12 p-0">
                <div class="products-name">{{ product.name }}</div>
            </div>
        </div>
         <div class="row my-2">
            <div class="col-7 p-0">
                <div class="products-type">{{ product.system.manufacturer }} / {{ product.system.abbreviation }} / {{ product.type }}</div>
            </div>
            <div class="col-5 p-0">
                 <div class="products-price">Verð: <strong>{{ product.price | intcomma }}</strong> ISK</div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-6 p-1">
                <a href="{% url 'product_details' id=product.id %}" onclick="onDetailClick({{ product.id }})" class="btn btn-warning btn-block">Nánar</a>
            </div>
            <div class="col-6 p-1">
                {% if product.quantity <= 0 %}
                <div role="button" class="btn btn-secondary btn-block disabled" aria-disabled="true" style="cursor: default;">Væntanlegt</div>
                {% else %}
                <div role="button" onclick="addToCart({{ product.id }})" class="btn btn-success btn-block">Setja í körfu</div>
                {% endif %}
            </div>
        </div>
    </div>
</div>