{% extends "base.html" %}

{% block background-color %}#e9e9e9{% endblock background-color  %}
{% block content %}
    <div class="row my-4">
        <div class="col-1 col-md-2"></div>
        <div class="col-12 col-sm-10 col-md-8">

              <ul class="progressbar mb-2">
                <li class="active">Karfan</li>
                <li>Sendingarupplýsingar</li>
                <li>Greiðsluupplýsingar</li>
                <li>Yfirlit greiðslu</li>
                <li>Kvittun</li>
              </ul>

        </div>
    </div>


    <div class="row my-4">
        <div class="col-2"></div>
         <div class="col-12 col-md-8 ">
            <div>
                <div class="column-labels">
                    <label class="cart-product-image">Mynd</label>
                    <label class="cart-product-details">Vara</label>
                    <label class="cart-product-price">Vöruverð</label>
                    <label class="cart-product-quantity">Magn</label>
                    <label class="cart-product-removal">Eyða</label>
                    <label class="cart-product-line-price">Heildarverð</label>
                </div>
                <div id="cart-products"></div>
                <div class="totals">
                    <div class="totals-item totals-item-total">
                      <label>Samtals</label>
                      <div class="totals-value" id="cart-total">0</div>
                    </div>
                </div>
                <a href="/cart/shipping" role="button" class="checkout btn btn-success" aria-disabled="false">Ganga frá pöntun</a>
            </div>
        </div>
    </div>

{% endblock %}