{% extends "base.html" %}
{% block background-color %}#e9e9e9{% endblock background-color  %}
{% block content %}
  <div class="row my-4">
        <div class="col-1 col-md-2"></div>
        <div class="col-12 col-sm-10 col-md-8">

              <ul class="progressbar mb-2">
                <li class="done"><a href="/cart">Karfan</a> </li>
                <li class="done"><a href="/cart/shipping">Sendingarupplýsingar</a></li>
                <li class="done"><a href="/cart/payment">Greiðsluupplýsingar</a></li>
                <li class="active">Yfirlit greiðslu</li>
                <li>Kvittun</li>
              </ul>

        </div>
    </div>


    <div class="row my-4">
        <div class="col-1"></div>
                    <div class="col-5">
              <div class="cart-overview-lines cart-overview-heads">Þú hefur valið</div>

                       <div id="cart-products" ></div>
                         {#  javascript here#}
                        <div class="row cart-overview-lines">
                     <div class="col-12 col-lg-6"></div>
                      <div class="col-6 col-lg-2"></div>
                      <div class="col-6 col-lg-4 text-right cart-overview-total">
                          <div class="totals">
                    <div class="totals-item totals-item-total">
                      Samtals: <span id="total"></span> ISK
                    </div>
                </div>
                      </div>
                    </div>



         </div>
                    <div class="col-2">
              <div class="cart-overview-lines cart-overview-heads">Sent á</div>

                <div class="cart-overview-lines">{{ ship_info.name }}</div>
                <div class="cart-overview-lines">{{ ship_info.street_name }} {{ ship_info.house_nbr }}</div>
              <div class="cart-overview-lines"> {{ ship_info.zip_code }} {{ ship_info.city }}</div>
              <div class="cart-overview-lines"> {{ ship_info.country_name }}</div>

         </div>

            <div class="col-3">
              <div class="cart-overview-lines cart-overview-heads">Greiðandi</div>

             <div class="cart-overview-lines"> {{ card_info.name}}</div>
              <div class="cart-overview-lines" > #### #### ####
                  {{ card_info.card_nbr|get_digit:"4" }}{{ card_info.card_nbr|get_digit:"3" }}{{ card_info.card_nbr|get_digit:"2" }}{{ card_info.card_nbr|get_digit:"1" }}</div>
              <div class="cart-overview-lines"> {{ card_info.exp_day}}</div>
              <div class="cart-overview-lines"> {{ card_info.cvc_nbr }}</div>

         </div>
         <div class="col-1"></div>

    </div>


    <div class="row my-4">
        <div class="col-2"></div>
                 <div class="col-4">
                    <a href="/cart/payment" class="btn btn-secondary btn-block mt-3 mb-3">Til baka</a>
                </div>

                 <div class="col-4">
                    <button onclick="placeOrder()" class="btn btn-success btn-block mt-3 mb-3">Staðfesting</button>
                </div>

        <div class="col-2"></div>

    </div>



{% endblock %}