{% extends "base.html" %}
{% block background-color %}#e9e9e9{% endblock background-color  %}
{% block content %}
  <div class="row my-4">
        <div class="col-1 col-md-2"></div>
        <div class="col-12 col-sm-10 col-md-8">

              <ul class="progressbar mb-2">
                <li class="done"><a href="/cart">Karfan</a> </li>
                <li class="done"><a href="/cart/shipping">Sendingarupplýsingar</a></li>
                <li class="active">Greiðsluupplýsingar</li>
                <li>Yfirlit greiðslu</li>
                <li>Kvittun</li>
              </ul>

        </div>
    </div>


<form method="post">
{%  csrf_token %}
    {% for field in form %}
    <div class="row my-4">
        <div class="col-1"> </div>
        <div class="col-2 col-form-label text-right">
        <label><small> {{ field.label_tag }}</small></label> </div>

        <div class="col-8 col-lg-6">
            {{ field }}
            {% if field.errors %}
            <div class="alert alert-danger" role="alert"> {{ field.errors.0 }}</div>
            {% endif %}
        </div>

        <div class="col-1"> </div>
   </div>
    {% endfor %}
    {% if form.non_field_errors %}
        <div class="alert alert-danger" role="alert"> {{ form.non_field_errors.0 }}</div>
    {% endif %}

    <div class="row my-4">
        <div class="col-2"></div>
                 <div class="col-4">
                    <a href="/cart/shipping" class="btn btn-secondary btn-block mt-3 mb-3">Til baka</a>
                </div>

                 <div class="col-4">
                    <button type="submit" class="btn btn-success btn-block mt-3 mb-3">Áfram</button>
                </div>

        <div class="col-2"></div>

    </div>
</form>

{% endblock %}
