{% extends "base.html" %}
{% block background-color %}#e9e9e9{% endblock background-color  %}
{% block content %}
 <div class="row my-4">
        <div class="col-1 col-md-2"></div>
        <div class="col-12 col-sm-10 col-md-8">

              <ul class="progressbar mb-2">
                <li class="done"><a href="/cart">Karfan</a> </li>
                <li class="done"><a href="/cart/shipping">Sendingarupplýsingar</a></li>
                <li class="done"><a href="/cart/payment">Greiðsluupplýsingar</a></li>
                <li class="done"><a href="/cart/overview">Yfirlit greiðslu</a></li>
                <li class="active">Kvittun</li>
              </ul>

        </div>
    </div>


    <div class="row my-4">
        <div class="col-2"></div>
         <div class="col-12 col-md-8 ">

         </div>
    </div>
{% endblock %}